image: python:3.9

stages:
  - test
  - quality

before_script:
  - pip install --upgrade pip && pip install pyproject.toml .


test:
  stage: test
  script:
    - pytest

black:
  stage: quality
  script:
    - black --check .

isort:
  stage: quality
  script:
    - isort --check .

flake8:
  stage: quality
  script:
    - flake8
